<body>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <nav>
        <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo">   Stock prediction</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="">Home</a></li>
                <li><a href="/select">Select</a></li>
                <li><a href="/fit">Forecast</a></li>
                <li><a href="/logout">Logout</a></li>

            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages%}
            {% if message.tags == 'success'%}
                <script>M.toast({html:"{{message}}",classes:"green rounded",});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html:"{{message}}",classes:"blue rounded",});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html:"{{message}}",classes:"orange rounded",});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html:"{{message}}",classes:"red rounded",});</script>
            {% else %}
                <script>M.toast({html:"Something failed",classes:"red rounded",});</script>
            {% endif %}
        {% endfor%}
    {% endif %}    
    {% block content %}
    {% endblock %}
</body>